* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  .Store {
    text-align: center;background-color: #282c34;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:blueviolet;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .page{
    text-align: center;background-color: #282c34;
  }.Login {
    text-align: center;
  }
  
  
  .loginpage
  {

text-align: center;background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;

  }
  .image {
    width: 10em;
    
      width: 50%;
      height: 50%;
    
  }
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }  
  .leftmenu{
    width: 20%;
    line-height: 100px;
    float: left;
  scroll-snap-align:left;
  /*	background-color: yellow;*/
  }
  
  .leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
  }
  